  </div>
  <div class="container">
    <div id="welcome-greeting">
      <h1>welcome aboard</h1>
      <h2> I'm shawnee, a small person in brooklyn by way of los angeles. This sounds boring but my journey was and still is p unique. I'll tell you about it soon.<br> I make art and I like to get dressed. Look around and get comfortable. There are links and such that will show you to where else I exist on the internet and some that will assist you in meeting me IRL if you decide to like me. <br> My opinions are for sale! </h2>
      <hr />
    </div>
  </div>
  <div class ="container">
