  </div>
  <div class="container">
    <div id="welcome-greeting">
      <h1>welcome aboard</h1>
      <h2> I'm Shawnee, a visual artist and coder in Brooklyn by way of Los Angeles. My work revolves around the customer - executing environments that will heighten their  experience with the brand. People are my passion; the experiences they choose to spend their time on, my curiosity. I aspire to combine my artistic sensibilities and my obsession with customers to assist brands in creating helpful and engaging environments for their clients, online and off. </h2>
      <hr />
    </div>
  </div>
  <div class ="container">
